.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #282c34;
  padding: 20px;
  border-bottom: 3px solid #ffcc00;
  
}

.logo-naruto-img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-left: 20px;
}

.navbar-title {
  color: #ffcc00;
  font-size: 2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 80px;
}

.navbar-buttons {
  display: flex;
  gap: 10px;
  width: 100px;
  height: 30px;
  margin-right: 50px;
  align-content: center;
  justify-content: center;
}

.navbar-button {
  background-color: #ffcc00;
  color: #282c34;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.navbar-button:hover {
  background-color: #ffeb3b;
}

@media (max-width: 768px) {
  .navbar-container {
    flex-direction: column; 
    align-items: center; 
    padding: 15px; 
  }

  .navbar-title {
    margin-left: 0; 
    font-size: 1.5rem; 
    text-align: center; 
  }

  .navbar-buttons {
    margin-right: 0; 
    gap: 5px; 
  }

  .navbar-button {
    padding: 8px 12px; 
    font-size: 0.9rem; 
  }
}

@media (min-width: 769px) {
  .navbar-title {
    font-size: 2rem; 
  }

  .navbar-buttons {
    width: auto; /
  }
}